# Dependencies
node_modules
/dist
/.next
/out
/build
bin
obj

# Environment variables
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Production
/server/dist
/server/node_modules
